@media (max-width:767px) {
    .header {
        display: flex;
        justify-content: center;
        &__contacts {
            margin-top: 20px;
        }
        &__official {
            margin-top: 20px;
        }
    }
    .promo {
        background: url("../img/main_m.jpg") center (center/cover) no-repeat;
        background-position: 30%;
        &__header {
            text-align: right;
            margin-left: 20px;
        }
        &__subheader {
            margin-left: 20px;
            text-align: left;
        }
        &__icons {
            width: 100%;
            justify-content: center;
            margin-right: 0;
        }
        &__wrapper {
            align-items: center;
        }
        &__link {
            margin-right: 0;
        }
    }
    .button {
        &_main {
            margin-right: 0;
        }
    }
}