.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../../img/main.jpg") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 90px;
        margin-right: 20px;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 20px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 60px;
        width: 424px;
        margin-right: 20px;
    }
    &__icon {
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
        width: 108px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 10px;
        margin-right: 20px;
        a {
            color: #FFFFFF;
        }
    }
}