* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo {
    min-height: 800px;
    background: url(../img/bg/main_bg.png) center center/cover no-repeat;
    margin: auto;
    padding-top: 38px;
    padding-bottom: 60px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 53px;
}

.title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}

h2.title {
    margin-top: 20px;
}

.promo .promo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 22px;
}

.promo .promo_text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    color: #F9BF3B;
}

.promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.more .more_text {
    margin-top: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    width: 30px;
    margin-top: 5px;
}

.waiting {
    background: #EFEFEF;
    min-height: 607px;
    padding: 88px 0 75px 0;
}

.waiting .waiting_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divader {
    display: block;
    margin: auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 129px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    margin-top: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

.waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #4A4A4A;
}

.optimization {
    min-height: 547px;
}

.optimization_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 389px;
    margin-top: 108px;
    color: #299CBD;
}

.optimization_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-left: 389px;
    margin-top: 25px;
}

.optimization_text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-top: 25px;
}

.optimization_img {
    position: absolute;
    top: 47px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 66px 0;
    background: url('../img/bg/second_bg.png') center center/cover no-repeat;
}

.finish_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF;
}

.finish_divider {
    display: block;
    margin: auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 129px;
    background: #F9BF3B;
}

.finish_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 39px 0 0 0;
}

.finish_item {
    width: 234px;
}

.finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background: #B4E2FF;
}

.finish_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

.gift {
    min-height: 631px;
    background: #EFEFEF;
    padding: 85px 0 85px 0;
}

.gift_img {
    display: block;
    margin: 0 auto;
}

.gift_descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    margin-top: 45px;
}

.promo_btn2 {
    display: block;
    margin: 0 auto;
    margin-top: 51px;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    border: none;
}

.first {
    min-height: 512px;
    padding: 81px 0 52px 0;
    text-align: center;
}

.first_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
    margin-top: 36px;
}

.first_date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.first_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    margin-top: 25px;
}

footer {
    min-height: 169px;
    background: #1A1A1A;
    text-align: center;
    padding: 57px 0 69px 0;
}

.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}

footer a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
    text-decoration-line: none;
}

.underlined {
    text-decoration-line: underline;
}